/* style.css */

body {
    background-color: #577e97; /* Bleu */
    color: #1a1919; /* Texte en blanc */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Centrer le texte dans le corps */
}

header, #garage-info, #buttons-section, #additional-info {
    margin: 20px; /* Ajouter une marge autour des sections pour aérer l'agencement */
}

h1, h2, p {
    margin: 0; /* Supprimer les marges par défaut pour un espacement cohérent */
    color: black;
}

.ButtonSection {
    display: flex; /* Utiliser la flexbox pour aligner horizontalement les boutons */
    justify-content: space-around; /* Espacement égal entre les boutons */
}

.Button {
    background-color: #577e97; /* Bleu plus foncé pour les boutons */
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.Button button {
    background-color: #fff; /* Fond blanc pour le texte des boutons */
    color: #577e97; /* Texte en bleu */
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Ajouter des styles spécifiques pour les liens dans les boutons */
.Button a {
    text-decoration: none;
    color: #131212;
}

/* Ajouter des styles spécifiques pour les liens dans les boutons lorsqu'ils sont survolés */
.Button a:hover {
    text-decoration: underline;
}
